/* GENERAL */

.font_enseigne {
    font-family: 'Shrikhand', cursive;
}


/*  Plan Général Page  */

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    max-width: 681px;
    margin: auto;
}

a:link {
    text-decoration: none;
}